@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  scroll-behavior: smooth;
}

body {
  background-color: #f4fcfd;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}



/* Navbar styles start */
header{
  display: flex;
  width: 100%;
  justify-content: space-between;
  min-height: 10vh;
  align-items: center;
  padding: 0 15px;
}

.nav-links{
  display: flex;
}
nav{
  display: none;
}
.links{
  margin-left: 4em;
  font-size: 1.5vw;
}
.mobile__hamburger{
  display: flex;
  height: 5vh;
  width: 2em;
  
  flex-direction: column;
  justify-content: space-between;
}
.line{
  background-color: black;
  width: 100%;
  height:   1vh;
  
}

@media screen and (min-width: 768px) {
  
  /* Hide mobile hamburger on large screen sizes */
      .mobile__hamburger{
        display: none;
      }
    /* Show navigation links on large screen */
    nav{
      display: block;
    }
      header{
        width: 85vw;
        margin: 0 auto;
      }
  }


/* Navbar styles end */

/* Main container styles start Hero */

.hero {
  width: 100%;
  text-align: center;
  min-height: 90vh;
  /* background-color: blue; */
}

.text__content {
  margin-top: 2rem;
  text-align: center;
}
.description {
  text-align: justify;
  width: 50%;
  margin: 0 auto;
}
.hero__image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 50%;
  width: 9.5rem;
  height: 9.5rem;
  padding: 0px;
  background-color: rgba(0, 20, 255, 0.17);
  margin-top: 2.5rem;

}
.title {
  
  margin-top: 10px;
  margin-bottom: 5px;
}


/* .image {
  
  background-color: rgba(0, 20, 255, 0.17);
  width: auto;
  height: auto;
} */

/* .hero {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;

  flex-direction: column;
}


.text__content {
  display: flex;
  flex-direction: column;
  margin: 0 4vw;
  align-items: center;
}
.title {
  font-size: 3vw;
}
.hero > button {
  margin-top: 10px;
  margin-bottom: 20px;
}
.social-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
}

.hero p {
  font-size: 1.5vw;
  padding: 0 20vw;
  line-height: 30px;
  margin-bottom: 20px;
}
.icon {
  border-radius: 50%;
  border: 1px solid #0014ff;
  padding: 10px;
}

.hero-image {
  object-fit: contain;
} */

.scroll_icon {
  position: absolute;

  bottom: 1.2rem;
  width: 1.5rem;
  height: 2.5rem;
  border-radius: 2rem;
  border: 2px solid black;

  display: flex;
  margin-left: 50%;
}

.circle {
  margin: auto;
  background-color: black;
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
  animation: move-circle 0.8s linear infinite;
}

@keyframes move-circle {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(1rem);
  }
}

.computer {
  height: 25rem;
}

/* main container styles end */

/* services section start */
.service_boxes {
  padding: 0 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 64px;
  grid-template-rows: auto;
}
.service {
  padding: 40px 50px;
  background-color: #ffffff;
}

/* services section stop */

/* projects starts */
.project-content {
  margin-left: 40px;
}
.project-card {
  width: 700px;

  background: blue;

  top: 120px;
  left: 400px;
}

/* projects ends */
@media only screen and (min-width: 800px) {
  /* .hero {
    margin-top: 80px;
  } */
  .description {
    line-height: 30px;
    font-size: 1.5vw;
  }
  .scroll_icon {
    margin-top: 60px;
  }
}

@media only screen and (max-width: 600px) {
  /* .social-icons {
    display: none;
  } */
  /* .hero {
    margin-top: 10px;
  } */

  .description {
    width: 90%;
  }
  .service_boxes {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .service {
    margin-bottom: 40px;
  }
  .title {
    font-size: 5vw;
  }

  .hero p {
    padding: 0 10px;

    font-size: 3.5vw;
  }
  .icon {
  }

  .fb {
    text-align: center;
    height: 40px;
    width: 40px;
  }
  .social-icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
  }
}
