@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  scroll-behavior: smooth;
}

body {
  background-color: #f4fcfd;
}

section {
  margin-top: 40px;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  padding: 10px 20px;
}

/* Navbar styles start */
nav {
  padding: 20px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  width: 30%;
  justify-content: space-between;
  align-items: center;
}

/* Navbar styles end */

/* Main container styles start Hero */
.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.image {
  background-color: rgba(0, 20, 255, 0.17);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.text__content {
  display: flex;
  flex-direction: column;
  margin: 0 4vw;
  align-items: center;
}
.title {
  font-size: 3vw;
}
.hero > button {
  margin-top: 10px;
  margin-bottom: 20px;
}
.social-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
}
.title {
  margin-top: 20px;
  margin-bottom: 15px;
}
.hero p {
  font-size: 1.5vw;
  padding: 0 20vw;
  line-height: 30px;
  margin-bottom: 20px;
}
.icon {
  border-radius: 50%;
  border: 1px solid #0014ff;
  padding: 10px;
}

.hero-image {
  object-fit: contain;
}

.scroll_icon {
  width: 1.5rem;
  height: 2.5rem;
  border-radius: 2rem;
  border: 2px solid black;

  display: flex;
}

.circle {
  margin: auto;
  background-color: black;
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
  animation: move-circle 0.8s linear infinite;
}

@keyframes move-circle {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(1rem);
  }
}

.computer {
  height: 25rem;
}

/* main container styles end */

/* services section start */
.service_boxes {
  padding: 0 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 64px;
  grid-template-rows: auto;
}
.service {
  padding: 40px 50px;
  background-color: #ffffff;
}

/* services section stop */

/* projects starts */
.project-content {
  margin-left: 40px;
}
.project-card {
  width: 700px;

  background: blue;

  top: 120px;
  left: 400px;
}

/* projects ends */

@media only screen and (max-width: 600px) {
  .social-icons {
    display: none;
  }
  .service_boxes {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .service {
    margin-bottom: 40px;
  }
  .title {
    font-size: 5vw;
  }

  .hero p {
    padding: 0 10px;

    font-size: 3vw;
  }
}
